{% extends 'TaskManager/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

<div class="container" style="padding-top: 250px">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-7">

        <div class="card">
          <h5 class="card-header" style="text-align:center">Set a new password!</h5>
          <div class="card-body">
              <form method="post" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
        </div>

      </div>
      <div class="col-sm-2"></div>
    </div>
</div>


{% endblock %}